sudokuScrapper/Regular/Solved/
sudokuScrapper/Regular/Test/
sudokuScrapper/Regular/Training/
sudokuScrapper/Regular/Unsolved/
sudokuScrapper/Regular/Grid/
sudokuScrapper/GT/Grid_GT/
sudokuScrapper/GT/Test_Digit/
sudokuScrapper/GT/Test_Greater/
sudokuScrapper/GT/Training*
**__pycache__*
